<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <link rel="stylesheet" href="/style.css">
    <title>About</title>
    <style>
        a{
            font-size: large;
            color: gray;
        }   
    </style>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md" id="my-navbar"> 
  
        <ul class="navbar-nav"> 
            <li class="nav-item active"> 
                <a class="nav-link" id="about" href="/"> 
                    Wildlife Support
                </a> 
            </li> 
        </ul> 
        <ul class="navbar-nav" >
            <li class="nav-item">
                <a class="nav-link" id="about" href="/about"> About </a> 
            </li> 
            
        </ul>
    </nav> 


        <div class="container"><h1 style="position: relative; top:100px;">ABOUT US :</h1>
            <div class="container" style="width: 95%;"><br>
                <p style="font-size: large; font-weight: 400; position: relative; top:100px;   font-family: 'Pacifico', cursive;">Wildlife Support Donation Portal is a global campaign to build financial Support for saving Tigers and other Wildlife.Wildlife is a precious gift of God to this planet. The term ‘wildlife’ not only caters to wild animals but also takes into account all undomesticated lifeforms including birds, insects, plants, fungi and even microscopic organisms. For maintaining a healthy ecological balance on this earth, animals, plants and marine species are as important as humans. Each organism on this earth has a unique place in food chain that helps contribute to the ecosystem in its own special way. But, sadly today, many of the animals and birds are getting endangered. The natural habitats of animals and plants are being destroyed for land development and farming by humans. Poaching and hunting of animals for fur, jewellery, meat and leather are other great factors contributing to wildlife extinction. If soon, no stringent steps are taken to save wildlife, it would not be long when they will find a place only on the list of extinct species. And that would not be all! The extinction of wildlife species will certainly have a fatal impact on human race as well. So, for us as humans, it becomes a great responsibility to save the wildlife, our planet and most importantly, our own selves.</p>
            </div>
            
        </div>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>