<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    
    <title>Wildlife Support</title>
</head>
<body>
    
        <nav class="navbar fixed-top navbar-expand-md" id="my-navbar"> 
    
            <ul class="navbar-nav"> 
                <li class="nav-item active"> 
                    <a class="nav-link" id="about" href="/"> 
                        Wildlife Support
                    </a> 
                </li> 
            </ul> 
            <ul class="navbar-nav" >
                <li class="nav-item">
                    <a class="nav-link" id="about" href="/about"> About </a> 
                </li> 
                
            </ul>
        </nav> 




        <div class="jumbotron" id="main-banner">
            <img id="main-img" src="https://images.pexels.com/photos/814898/pexels-photo-814898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <h1 class="txt1">Wildlife Support Donation Portal</h1>
            <p class="txt2">SAVE WILDLIFE</p>
            <p class="txt3">Wildlife Support Donation Portal is a global campaign to build financial Support for saving Tigers and other Wildlife.</p>
        </div>
        
            
            <div id="donate">
                <div class="row">
                    <div class="col-lg-10">
                        <img id="img2" src="https://www.traffic.org/site/assets/files/1375/dont-buy-trouble-thumb.486x0-is.jpg">
                    </div>
                    <div class="col-lg-2" id="button">
                        <form style="position: relative; right:100px; top:100px;margin-bottom: 50px;">
                            <h1 style="color: white;  font-family: 'Montserrat', sans-serif;   animation: appear 2s infinite;">To DONATE Click Here :</h1>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GAds57G3nLgUzS"> </script>
                        </form>
                    </div>
                </div>
            </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>